<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      My cards
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dataProvider.logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="fcs">
    <ion-list *ngIf="businesses">
      <button ion-item *ngFor="let fc of fcs" (click)="openDetails($event, businesses[fc.business_id])">
        <h2>
          <span class="b">{{businesses[fc.business_id].infos.name}}</span>
          <span class="fc">{{businesses[fc.business_id].FCs[fc.fc_id].name}}</span>
        </h2>
        <ion-badge>{{computeTransactionSum(fc.transactions)}}/{{minPromo(fc.business_id)}} Points</ion-badge>
        <!--<button (click)="update(idx)">update</button>-->
        <ion-icon name="arrow-forward" item-right style="color: grey"></ion-icon>
      </button>
    </ion-list>
  </div>
</ion-content>
