<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      My cards
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dataProvider.logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="fcs">
    <ion-list *ngIf="businesses">
      <ion-item *ngFor="let fc of fcs">
        <h2>{{businesses[fc.business_id].infos.name}} ({{businesses[fc.business_id].FCs[fc.fc_id].name}})</h2>
        <ion-badge>{{computeTransactionSum(fc.transactions)}} Points</ion-badge>
        <!--<button (click)="update(idx)">update</button>-->
      </ion-item>
    </ion-list>
  </div>
</ion-content>
