page-manager {
  ion-card button {
    text-align: center !important;
    padding: 0 !important;

    ion-card-header {
      font-size: x-large !important;
      padding: 0 !important;
    }
    ion-card-content {
      padding: 0 !important;
    }
  }
}
