<ion-header>
  <ion-navbar color="manager" (swipe)="restart()">
    <ion-title>
      Article to debit
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dataProvider.logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="articles">
    <ion-card *ngFor="let article of articles; let i = index" (click)="itemTapped(article)">
      <button ion-item [ngStyle]="randomColor(i, articles.length)">
        <ion-card-header text-wrap>
          {{article.key}}
        </ion-card-header>
        <ion-card-content>
          +{{article.value}} points
        </ion-card-content>
      </button>
    </ion-card>

    <ion-card>
      <ion-item class="custom">
        <ion-card-header no-padding>
          Custom amount
        </ion-card-header>
        <ion-card-content no-padding>
          <ion-item no-padding class="middle">
            +<ion-input placeholder="amount..." id="custom" [(ngModel)]="custom" style="text-align: center"></ion-input>
          </ion-item>
          <button ion-button block color="secondary" (click)="customValue(custom)">Add</button>
        </ion-card-content>
      </ion-item>
    </ion-card>
  </div>

  <ion-fab left bottom *ngIf="isPromoPossible()">
    <button ion-fab color="material-red" (click)="goToPromo()"><ion-icon name="pricetag"></ion-icon></button>
  </ion-fab>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="finish()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>

</ion-content>
