<ion-header>
  <ion-navbar color="primary" (swipe)="restart()">
    <ion-title>
      {{ business.infos.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{ business.infos.name }}</h1>
  <div>
    <img src="{{ business.infos.logo }}">
  </div>
  <p>{{ business.infos.description }}</p>

  <ion-list no-border no-padding>
    <ion-list-header>
      Promotions
    </ion-list-header>
      <ion-item *ngFor="let promo of getPromos(business)">
        <ion-icon name="pricetag" style="color: grey"></ion-icon>
        {{ promo.key }} for {{promo.value}} points
      </ion-item>
  </ion-list>

  <ion-list no-border no-padding>
    <ion-list-header>
      Locations
    </ion-list-header>
    <button ion-item *ngFor="let place of business.infos.coordinates" (click)="openGMaps(place.address)">
      <ion-icon name="locate" color="secondary"></ion-icon>
      {{ place.address }}
    </button>
  </ion-list>

  <a button ion-button color="secondary" href="{{ business.infos.website }}">Website</a>
</ion-content>
