<ion-header>
  <ion-navbar color="primary" (swipe)="restart()">
    <ion-buttons start>
      <button ion-button icon-only (click)="openManager()" *ngIf="dataProvider.isManager()">
        <ion-icon name="hammer"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      QR Scan
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dataProvider.logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="content" *ngIf="createdCode">
    <div>
      <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    </div>
    <div>
      <p class="textCode">{{ createdCode }}</p>
    </div>
  </div>
</ion-content>
