page-qr-show {
  ion-content {

    .content {
      display: flex;
      flex-flow: column;
      height: 100%;
      justify-content: space-evenly;

      ngx-qrcode img {
        width: 100%;
      }

      .textCode {
        text-align: center;
        font-size: 5vw;
      }
    }
  }
}
